#oc-social-counter{
    color:white;
    font-family:Arial;
    background-color: #f9f9f9; 
    font-family:Arial;
    font-size:13px;
}

#oc-social-counter div{
  padding:10px 8px;
  font-size:14px;
  border-radius:0px;
  float:left;
  margin:0px 0px 0px 0px;
  background:grey;
  text-align:center;
  min-width:92px;
  min-height:80px;
  border-bottom:10px solid rgba(0,0,0,.15);

}

#oc-social-counter .facebook{ background:#3a5795;}
#oc-social-counter .twitter {background:#00a5e5;}
#oc-social-counter .google{ background:#dd4b39;}
#oc-social-counter .youtube{ background:#b31217;}
#oc-social-counter .linkedin {background: #0077b5;}
#oc-social-counter .instagram{ background:#517fa4;}
#oc-social-counter .pinterest { background:#cb2027;}
#oc-social-counter .soundcloud{background:#f50;}
#oc-social-counter .stumbleupon{background:#eb4924;}
#oc-social-counter .dribbble{ background:#ea4c89;}
#oc-social-counter .vimeo { background:#45bbff;}
#oc-social-counter .vine {background: #00a478;}
#oc-social-counter .tumblr {background: #35465c;}
#oc-social-counter .github {background: #808080;}
#oc-social-counter .posts {background: #96bf48;}
#oc-social-counter .comment {background: #6ecadc;}

#oc-social-counter div i,#oc-social-counter div .count { 
    padding: 3px;
    display: block;
    font-size: 18px;
}


