.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  margin: auto;
  background: transparent;
}
.modal.ts-modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1040 !important;
}
.ts-modal .modal-body {
    max-height: none !important;
}
.modal.fade.in.ts-modal{
  bottom: 0;
  left: 0;
  margin: 0;
  right: 0;
  top: 0;
  width: auto;
  background: transparent;
  z-index: 1050;
}
.modal-backdrop.fade.in{
  z-index: 1000;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer:before,
.modal-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.modal .close{
  background: transparent;
  color: #FFF;
  font-weight: bold;
  border: 0 none;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  cursor: pointer;
  float: right;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 30px;
}
.modal .close:hover{
  color: #f46964;
}
.modal-header{
  background: #1D232F;
}
.modal-title{
  margin: 10px 0;
  font-size: 18px;
  color: #FFF;
}
.modal-body input[type="text"]{
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}
.modal-body > h5{
  color: #8C8C8C;
  font-size: 11px;
  font-weight: normal;
  margin: 0 0 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #f1f1f1;
}
#editorid-tmce{
  height: 27px;
}
#editorid-html{
  height: 27px;
}

.ts-modal.modal.fade.in{
  top: 5%;
  z-index: 2040;
}
.ts-modal.modal{
  width: 100%;
  left: 0;
  margin-left: 0;
  z-index: 1050;
  background: transparent;
}
.ts-modal.modal .modal-body{
  max-height: none;
}

/*  Modal text editor */

.tsz-text-editor-modal {
    height: auto;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    right: 0;
    top: 5vh;
    width: 60%;
    position: fixed;
    z-index: 100000;
    display: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.tsz-text-editor-modal .ts-save-editor{
    box-shadow: none;
    text-shadow: none;
    height: 55px;
    line-height: 55px;
    border: 0 none;
    background: none repeat scroll 0 0 #D92223;
    box-shadow: 0 2px 0 0 #BC3B36;
    padding: 0 35px;
    margin-top: 40px;
    margin-left: 15px;
    font-size: 16px;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}
.tsz-text-editor-modal .ts-save-editor:focus,
.tsz-text-editor-modal .ts-save-editor:active,
.tsz-text-editor-modal .ts-save-editor:hover{
    background: #E84C4A;
}

/* Modal Content/Box */
.tsz-modal-content {
  align-content: stretch;
  align-items: stretch;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #fff;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  color: #5e5e5e;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  max-height: inherit;
  position: relative;
  overflow-y: auto;
}
.tsz-modal-content .modal-header{
  min-height: 80px;
}
.tsz-modal-footer{
  background: #FFF;
  padding: 15px 20px;
}
/* The Close Button */
.tsz-editor-modal-close {
    color: #FFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    box-shadow: none;
    background: red;
    border: 0 none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: transparent;
}

.tsz-editor-modal-close:hover,
.tsz-editor-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tsz-modal-editor-open {
  overflow-y: hidden;
}