.notice-box {
    background: #4fb9f0 !important;
    color: #fff;
}
.notice-box p {
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.notice.error {
    border-left-color: #4fb9f0;
}
.error a {
    text-decoration: none;
}
.notice-box {
    box-shadow: 2px 4px 4px #888888 !important;
}